*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: #111;
    line-height: 1;
    background-color: rgb(255, 252, 243);
    overflow: hidden;
}

.welcome {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 36px;
    background-color: rgb(47, 44, 37);
    color: #eee;
}

.welcome-text {
    transform: scale(50);
    transform-origin: center;
}

.page-wrapper {
    display: none;
    overflow: hidden;
    opacity: 0;
}

.header {
    padding: 32px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.logo-blend {
    background-color: #111;
    mix-blend-mode: multiply;
    padding: 8px 16px;
}

.nav-links {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 32px;
}

.nav-item {
    font-size: 20px;
    font-weight: 500;
    transition: color 0.1s linear;
    position: relative;
}

.nav-item::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f22;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.nav-item.active::before {
    opacity: 1;
}

.section {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.bg-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 80%;
    height: 70%;
    opacity: 0.5;
    overflow: hidden;
    z-index: 20;
    mix-blend-mode: multiply;
    transform-origin: center;
}

.bg-img {
    background-image: url('img/castle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -10%;
    left: -10%;
    transition: opacity 1s linear;
    opacity: 0;
}

.bg-img.active {
    z-index: 10;
    opacity: 1;
}

.left-side {
    width: 70%;
    display: flex;
    align-items: center;
    position: relative;
}

.left-bg {
    background-color: #efddc6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.left-bg.active {
    z-index: 20;
}

.info {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.info-inner {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 16px;
    padding-left: 50px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;
    letter-spacing: 1.8px;
}

.info-text {
    line-height: 1.3;
    text-align: end;
}

.right-side {
    position: relative;
    width: 30%;
}

.right-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b9c6d1;
    transition: background-color 0.5s linear;
}

.right-bg.active {
    z-index: 10;
    opacity: 1;
}

.right-bg-top {
    z-index: 11;
}

.right-img-wrapper {
    overflow: hidden;
    height: 320px;
    width: 430px;
    position: relative;
    z-index: 40;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    /* transform: translate(-50%, 20%); */
}

.right-img {
    position: absolute;
    width: max-content;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
}

.right-img.active {
    z-index: 30;
}

.right-img-top {
    z-index: 29;
}

@media (hover: hover) {
    .nav-item:hover {
        color: rgb(139, 128, 48);
    }
}

@media screen and (max-width: 560px) {
    .right-img-wrapper {
        transform: translate(-50%, 10px);
    }

    .info {
        top: 60%;
    }

    .info-text {
        text-align: center;
    }

    .info-inner {
        background-color: rgba(255,255,255,0.8);
        padding: 16px;
    }
}

@media screen and (max-width: 620px) {
    .header {
        padding: 16px 0;
    }
}

@media screen and (max-width: 460px) {
    .nav-item:not(:last-child) {
        margin-right: 16px;
    }

    .logo {
        font-size: 20px;
    }

    .info {
        width: 120%;
    }

    .info-inner {
        padding-bottom: 8px;
    }

    .info-title {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 374px) {
    .nav-item {
        font-size: 18px;
    }

    .logo {
        font-size: 18px;
    }

    .logo-blend {
        padding: 4px 8px;
    }
}